<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
  <body>
    <div class="hero-banner">
      <div class="banner-content">
        <div class="css-typing">
          <h1>Catherine</h1>
          <h1>Nguyen-Cat</h1>
          <h1>Web Developer</h1>
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1597087282/Catherine_Nguyen-Cat_CV.pdf" target="_blank" class="CV_download">View CV</a>
        </div>
        <!-- <a onclick="scrollDown()" class="scroll-down" id="topPage">About</a> -->
        <div class="arrows-down" onclick="scrollDown()">
                <span></span>
                <span></span>
                <span></span>
        </div>
      </div>
    </div>

      <div id="about">
        <img class="avatar" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1570459054/Me_purple_yzymws.png">
        <div class="about-text">
          <h1>Who am I?</h1>
          <p>Hi, I am Catherine Nguyen-Cat, a London-based developer with a degree in animation. I spent a few years as a designer before deciding I wanted to transition as a developer. By having someone with both knowledge in design and development helps create a successful user-interface product.  I enjoy building web apps from start to finish. </p>
            <div class="skills">
              <h1>Skills</h1>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>SASS</li>
                <li>JavaScript</li>
                <li>Ruby on Rails</li>
                <li>Bootstrap</li>
                <li>Git</li>
                <li>MVC Architecture</li>
                <li>JIRA</li>
                <li>CMS</li>
                <li>Marketo</li>
                <li>Figma</li>
                <li>Photoshop</li>
                <li>Illustrator</li>
                <li>After Effects</li>
                <li>InDesign</li>
              </ul>
            </div>
            <div class="contact">
              <h1>Contact</h1>
              <ul class="list-inline">
                <li>
                  <%= mail_to "nguyencat.catherine@gmail.com" do %>
                  <i class="far fa-envelope social-media"></i>
                  <% end %>
                </li>
                <li>
                  <a class="social-media" href="https://www.linkedin.com/in/catherine-nguyen-cat-40b031a3/">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a class="social-media"  href="https://www.github.com/catanhtho019/">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
              <div class="arrows-up" onclick="scrollUp()"></div>
            </div>
            <!-- <a onclick="scrollUp()" class="scroll-up">top</a> -->
          </div>
      </div>
  </body>
</html>
