<div class="project-cards">
  <!-- <div class="cards-overlay"> -->
  <div class="project-card">
    <div class="project-title">
      <a id="myBtn01" onclick="popup()">Le Wagon</a>
    </div>
  </div>
  <div class="project-card">
    <div class="project-title">
      <a id="myBtn02" onclick="popup02()">Jocelyn Burton</a>
    </div>
  </div>

  <div class="project-card">
    <div class="project-title">
      <a id="myBtn03" onclick="popup03()">Azure Designs</a>
    </div>
  </div>
  <!-- </div> -->
</div>
<!-- The Modal -->
<div id="myModal01" class="modal" >

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close01" onclick="closePopup()">&times;</span>
    <p>My first MVC app to create a library of cocktail recipes.</p>
    <div class="project-preview cocktail_library">
      <div class="overlay">
        <a href="https://cocktail-library.herokuapp.com/" target="_blank" class= "preview-text">Cocktail Library</a>
      </div>
    </div>
    <p>A single user journey to for booking a venue for an event.</p>
     <div class="project-preview venuez">
      <div class="overlay">
        <a href="https://my-venues.herokuapp.com/" target="_blank" class= "preview-text">Venuez</a>
      </div>
    </div>
    <p>A single user journey to search, filter, book and process payment at the nearest brunch venue in their chosen area</p>
     <div class="project-preview brunchee">
      <div class="overlay">
        <a href="http://brunchee.rocks/" target="_blank" class= "preview-text">Brunchee</a>
      </div>
    </div>
  </div>
</div>

<div id="myModal02" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close02" onclick="closePopup02()">&times;</span>
    <p><br><a href="https://www.jocelynburton.com/?l=n" target="_blank">Jocelyn Burton</a><br>
    </p>
    <div class="project-preview" style="width:100%;">
      <div class="paintings_collection">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1570637460/Ox_Goblet02_oojxtj.jpg" alt="ox painting">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571190736/ox_goblet_cq8m0b.jpg" alt="ox goblet">
      </div>
      <p>Working as a designer with Jocelyn Burton to have a series of Chinese animal zodiac goblet designs to be casted in silver.</p>
      <img src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_1097/v1571187084/JB_leaflet_m0lxlp.png" style="padding:10px;" alt="leaflet">
      <p>Leaflet design for Jocelyn Burton's jewellery collection at the Sunny Arts Gallery.</p>
      <img src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,q_70,w_785/v1571186696/Gold_bat_necklace_amerthyst_apqf1z.jpg" alt="bat necklace">
      <p style="margin-bottom: 40px;">Photographing and retouching Burton's jewellery collection.</p>
    </div>
  </div>
</div>

<div id="myModal03" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close03" onclick="closePopup03()">&times;</span>
    <p>Azure Designs: retail luggage company founded since 1978. I worked as their designer and photographer.</p>
    <div class="project-preview azuredesigns">
      <div class="overlay">
        <a href="http://www.azuredesigns.co.uk/" target="_blank" class= "preview-text">Azure Designs</a>
      </div>
    </div>
    <div class="azure-designs">
      <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186457/eco-lite_luggage_ti7zvx.png" alt="luggage">
      <p>CAD artwork for lightweight a luggage series.</p>
      <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186450/sirocco_logo_qegepe.png" alt="logo">
      <p>Metal logo designs for a hardcase luggage.</p>
      <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571194490/azure_brochure_iq2kua.png" alt="brochure">
      <p>Brochure artwork</p>
    </div>
  </div>
</div>
