<div class="project-container">

  <div class="web-cards">
    <h1>Web Development</h1>
    <div class="project-cards">
      <!-- <div class="cards-overlay"> -->
      <div class="project-card">
        <div class="project-title">
          <a id="myBtn01" onclick="popup01()">Robert Walters</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-title">
          <a id="myBtn02" onclick="popup02()">Le Wagon</a>
        </div>
      </div>
    </div>
  </div>

  <div class="graphic-cards">
    <h1>Graphic Design</h1>
    <div class="project-cards">
      <div class="project-card">
        <div class="project-title">
          <a id="myBtn03" onclick="popup03()" class="stretched-link">Humanscale</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-title">
          <a id="myBtn05" onclick="popup05()" class="stretched-link">Azure Designs</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-title">
          <a id="myBtn04" onclick="popup04()" class="stretched-link">Jocelyn Burton</a>
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- The Modal -->
  <div id="myModal01" class="modal" >
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close01" onclick="closePopup01()">&times;</span>
       <p>Working at Robert Walters on the rebranding of the 'My Account' feature. Taking the old outdated styles to restyle to fit with current trend.</p>
       <div style="margin-left: 25px;">
          <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594074104/RW_-_UX_case_study.pdf">UX Case Study: Registration/login</a>
       </div>
       <p style="text-decoration: underline;">Saved Jobs page</p>
       <p>The Back-End functionality built by Java developers as the CSS specialist my job was to restyle the page to match the final design.</p>
        <div class="saved-jobs">
          <div>
            <p style="font-weight: bold;margin-top: 10px;">Before:</p>
            <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351464/rw-Save-jobs_old.png" target="_blank"><img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351464/rw-Save-jobs_old.png" alt="save-job-old" style="box-shadow:0 2px 2px rgba(0,0,0,0.2);">
            </a>
          </div>
          <div>
            <p style="font-weight: bold;margin-top: 10px;">After:</p>
            <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351455/rw-saved-jobs_new.png" target="_blank"><img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351455/rw-saved-jobs_new.png" alt="save-job-new" style="box-shadow:0 2px 2px rgba(0,0,0,0.2);">
            </a>
          </div>
        </div>
        <div style="margin-top: 65px;">
          <p>Working with Walters People brand to build Landing page & email templates for local Marketers.</p>
        </div>
        <div class="project-preview page-template">
          <div class="overlay">
            <a href="https://eoztt.csb.app/" target="_blank" class= "preview-text">Page template</a>
          </div>
        </div>

    </div>
  </div>

  <div id="myModal02" class="modal" >
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close02" onclick="closePopup02()">&times;</span>
      <!-- <div class="app-card-text"> -->
      <!-- </div> -->
      <!-- <div class="app-cards"> -->
        <p>MVC app to create a library of cocktail recipes.</p>
        <div class="project-preview cocktail_library">
          <div class="overlay">
            <a href="https://cocktail-library.herokuapp.com/" target="_blank" class= "preview-text">Cocktail Library</a>
          </div>
        </div>
        <p>A single user journey to for booking a venue for an event.</p>
         <div class="project-preview venuez">
          <div class="overlay">
            <a href="https://my-venues.herokuapp.com/" target="_blank" class= "preview-text">Venuez</a>
          </div>
        </div>

      <!-- </div> -->
      <p>A single user journey to search, filter, book and process payment at the nearest brunch venue in their chosen area</p>
      <div class="project-preview brunchee">
        <div class="overlay">
          <a href="http://brunchee.rocks/" target="_blank" class= "preview-text">Brunchee</a>
        </div>
      </div>

    </div>
  </div>

  <div id="myModal03" class="modal" >
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close03" onclick="closePopup03()">&times;</span>
      <p>Humanscale 2018 Argentina Roadshow</p>
      <p>Creating marketing assets to promote awareness of Humanscale's ethos – sustainable manfuncturing, in particular the "Smart Ocean" office chair made from recycled fishing nets.</p>
      <div style="margin-left:25px;margin-bottom: 20px;">
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594040463/sticker-template.pdf">Sea-animal Sticker</a>
      </div>
      <p>Design concept for clients to leave feedback on the sea-animal stickers to stick on the backdrop and to encourage social media posting.</p>
      <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594088101/Argentina_Roadshow_backdrop_instruction.jpg" target="_blank">
      <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594088101/Argentina_Roadshow_backdrop_instruction.jpg" alt="Backdrop diagram">
      </a>
      <p style="font-weight: bold;margin-top:30px;margin-bottom:0;">Cocktail Menu & Tray card:</p>
      <div class="cocktail-cards">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594051370/craft-cocktails-print.jpg" alt="cocktail menu" style="">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594078894/craft-cocktails_tray_card.jpg" alt="cocktail tray card" style="width: 85%;margin-left: 30px;height: 100%;margin-top: 45px;">
      </div>
    </div>
  </div>

  <div id="myModal04" class="modal">
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close04" onclick="closePopup04()">&times;</span>
      <a href="https://www.jocelynburton.com/?l=n" style="margin-left:30px;" target="_blank">Jocelyn Burton</a>

        <p>Working as a designer with Jocelyn Burton to have a series of Chinese animal zodiac goblet designs to be casted in silver.</p>
      <div class="project-preview" style="width:100%;">
        <div class="paintings_collection">
          <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1570637460/Ox_Goblet02_oojxtj.jpg" alt="ox painting">
          <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571190736/ox_goblet.jpg" alt="ox goblet">
        </div>
        <p>Leaflet design for Jocelyn Burton's jewellery collection at the Sunny Arts Gallery.</p>
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1571187084/JB_leaflet.png" target="_blank">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571187084/JB_leaflet.png" style="padding:10px;" alt="leaflet">
        </a>
        <p style="margin-bottom: 40px;">Photographing and retouching Burton's jewellery collection.</p>
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_735/v1571186696/Gold_bat_necklace_amerthyst_apqf1z.jpg" alt="bat necklace">
      </div>
    </div>
  </div>

  <div id="myModal05" class="modal">
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close05" onclick="closePopup05()">&times;</span>
      <p>Azure Designs: retail luggage company founded since 1978. I worked as their designer and photographer using WordPress theme to build a catalogue site.</p>
      <div class="project-preview azuredesigns">
        <div class="overlay">
          <a href="http://www.azuredesigns.co.uk/" target="_blank" class= "preview-text">Azure Designs</a>
        </div>
      </div>
      <div class="azure-designs">
        <p>CAD artwork for lightweight a luggage series.</p>
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186457/eco-lite_luggage.png" target="">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186457/eco-lite_luggage.png" alt="luggage">
        </a>
        <p>Metal logo designs for a hardcase luggage.</p>
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186450/sirocco_logo.png" target="_blank">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186450/sirocco_logo.png" alt="logo">
        </a>
        <p>Brochure artwork</p>
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1571194490/azure_brochure.png" target="_blank">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571194490/azure_brochure.png" alt="brochure">
        </a>
      </div>
    </div>
  </div>
<!-- </div> -->
