<!-- <div class="project-container">

  <div class="web-cards">
    <h1>Web Development</h1>
    <div class="project-cards"> -->
      <!-- <div class="cards-overlay"> -->
<!--       <div class="project-card">
        <div class="project-title">
          <a id="myBtn01" onclick="popup01()">Robert Walters</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-title">
          <a id="myBtn02" onclick="popup02()">Le Wagon</a>
        </div>
      </div>
    </div>
  </div>

  <div class="graphic-cards">
    <h1>Graphic Design</h1>
    <div class="project-cards">
      <div class="project-card">
        <div class="project-title">
          <a id="myBtn03" onclick="popup03()" class="stretched-link">Humanscale</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-title">
          <a id="myBtn05" onclick="popup05()" class="stretched-link">Azure Designs</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-title">
          <a id="myBtn04" onclick="popup04()" class="stretched-link">Jocelyn Burton</a>
        </div>
      </div>
    </div>
  </div>
</div>
 -->



<div class="project-container">

  <h1 class="web-cards">Web Development</h1>
  <div class="web-cards">
    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1596142473/robert-walters_small.png">
        <div class="content-details fadeIn-top">
          <h3>Robert Walters</h3>
          <p>UX/html/css</p><br>
          <a id="myBtn01" onclick="popup01()" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>

    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1596142498/cocktail_library_small.png">
        <div class="content-details fadeIn-top">
          <h3>Le Wagon</h3>
          <p>Rails/Ruby/JS/html/css</p><br>
          <a id="myBtn02" onclick="popup02()" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>

    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1596142467/Azure_Designs_small.png">
        <div class="content-details fadeIn-top">
          <h3>Azure Designs</h3>
          <p>Wordpress</p><br>
          <a id="myBtn03" onclick="popup03()" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>

  </div>

  <h1 class="graphic-cards">Graphic Design</h1><br>
  <div class="graphic-cards">
    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1596142334/craft-cocktails_tray_card_small.jpg">
        <div class="content-details fadeIn-top">
          <h3>Humanscale</h3>
          <p>Illustrator/InDesign</p><br>
          <a id="myBtn04" onclick="popup04()" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>

    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571187084/JB_leaflet.png">
        <div class="content-details fadeIn-top">
          <h3>Jocelyn Burton</h3>
          <p>Photoshop/Illustrator</p><br>
          <a id="myBtn05" onclick="popup05()" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>

    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1596142451/azure_brochure_small.png">
        <div class="content-details fadeIn-top">
          <h3>Azure Designs</h3>
          <p>Photoshop/Illustrator</p><br>
          <a id="myBtn06" onclick="popup06()" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>


  </div>
</div>





  <!-- The Modal -->
  <div id="myModal01" class="modal" >
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close01" onclick="closePopup01()">&times;</span>

<!--       <div id="window">
        <div id="slide-container">
          <div class="slides">
               <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594074104/RW_-_UX_case_study.pdf" target="_blank">
            <img class="slide" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1595981746/RW_login_desktop.png"></a>
          </div>

          <div class="slides">
            <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351464/rw-Save-jobs_old.png" target="_blank">
            <img class="slide" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351464/rw-Save-jobs_old.png"></a>
          </div>
          <div class="slides">
            <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351455/rw-saved-jobs_new.png" target="_blank">
            <img class="slide" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351455/rw-saved-jobs_new.png" ></a>
          </div>
          <div class="slides">
            <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594158022/wp-page-template.png" target="_blank">
            <img class="slide" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594158022/wp-page-template.png"></a>
          </div>

          <a id="previous" class="arrow">&#10094</a>
          <a id="next" class="arrow">&#10095</a>
          <div id="text-bar"> -->
            <!-- <p id="title"></p> -->
<!--           </div>
        </div>
        <div id="dotsContainer"></div>
      </div>

      <div style="margin-top: 20px;">
        <h2>Robert Walters</h2>
        <p style="padding-top: 10px;">
         Working at Robert Walters on the rebranding of the 'My Account' feature. Taking the old outdated styles to restyle to fit with current trend.
        <br>
         Working with the 4 brands (Robert Walters, Walters People, Robert Walters Group, Resources Solution) to build Landing page & email templates for local Marketers.
        </p>
        <ol>
          <li>UX Case study</li>
          <li>CSS restyle: Before</li>
          <li>CSS restyle: After</li>
          <li>Marketing email</li>
        </ol>
      </div> -->




    <div id="carouselwithIndicators" class="carousel slide w-100" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594074104/RW_-_UX_case_study.pdf" target="_blank">
          <img class="d-block w-100" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1595981746/RW_login_desktop.png" alt="First slide"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>UX Case Study</h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351464/rw-Save-jobs_old.png" target="_blank">
          <img class="d-block w-100" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351464/rw-Save-jobs_old.png" alt="Save old job"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Before restyling</h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351455/rw-saved-jobs_new.png" target="_blank">
          <img class="d-block w-100" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351455/rw-saved-jobs_new.png" alt="Save new job"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>After restyling</h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://eoztt.csb.app/" target="_blank">
          <img class="d-block w-100" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594158022/wp-page-template.png" alt="Second slide"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>HTML Email</h5>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselwithIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
      <a class="carousel-control-next" href="#carouselwithIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
    </div>

    <div style="margin-top: 30px;">
      <h2>Robert Walters</h2>
      <p>Working at Robert Walters on the rebranding of the 'My Account' feature. Taking the old outdated styles to restyle to fit with current trend.</p>
      <p>Working with the 4 brands (Robert Walters, Walters People, Robert Walters Group, Resources Solution) to build Landing page & email templates for local Marketers.</p>
    </div>




<!--        <p>Working at Robert Walters on the rebranding of the 'My Account' feature. Taking the old outdated styles to restyle to fit with current trend.</p>
       <div style="margin-left: 25px;">
          <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594074104/RW_-_UX_case_study.pdf">UX Case Study: Registration/login</a>
       </div>
       <p style="text-decoration: underline;">Saved Jobs page</p>
       <p>The Back-End functionality built by Java developers as the CSS specialist my job was to restyle the page to match the final design.</p>
        <div class="saved-jobs">
          <div>
            <p style="font-weight: bold;margin-top: 10px;">Before:</p>
            <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351464/rw-Save-jobs_old.png" target="_blank"><img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351464/rw-Save-jobs_old.png" alt="save-job-old" style="box-shadow:0 2px 2px rgba(0,0,0,0.2);">
            </a>
          </div>
          <div>
            <p style="font-weight: bold;margin-top: 10px;">After:</p>
            <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351455/rw-saved-jobs_new.png" target="_blank"><img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1592351455/rw-saved-jobs_new.png" alt="save-job-new" style="box-shadow:0 2px 2px rgba(0,0,0,0.2);">
            </a>
          </div>
        </div>
        <div style="margin-top: 65px;">
          <p>Working with Walters People brand to build Landing page & email templates for local Marketers.</p>
        </div>
        <div class="project-preview page-template">
          <div class="overlay">
            <a href="https://eoztt.csb.app/" target="_blank" class= "preview-text">Page template</a>
          </div>
        </div> -->

    </div>
  </div>


  <div id="myModal02" class="modal" >
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close02" onclick="closePopup02()">&times;</span>



    <div id="carouselwithIndicators" class="carousel slide w-100" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://cocktail-library.herokuapp.com/" target="_blank">
          <img class="d-block w-100" src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_834/v1570578263/cocktail_library_hautgj.png" alt="First slide"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Cocktail Library</h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://my-venues.herokuapp.com/" target="_blank">
          <img class="d-block w-100" src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_827/v1570578258/my_venuez_dvdakr.png" alt="Second slide"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Venuez</h5>

          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselwithIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
      <a class="carousel-control-next" href="#carouselwithIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
    </div>

    <div style="margin-top: 30px;">
      <h2>Le Wagon</h2><br>
      <ul class="modal-text">For 2 weeks of my bootcamp course I created 2 MVC apps:
        <li><b>Cocktail Library:</b> Database of cocktail recipes</li>
        <li><b>Venuez:</b> Single user journey booking & filter searching a venue for an event.</li>
      </ul>
    </div>


<!--
        <p style="padding-top: 50px;">MVC app to create a library of cocktail recipes.</p>
        <div class="project-preview cocktail_library">
          <div class="overlay">
            <a href="https://cocktail-library.herokuapp.com/" target="_blank" class= "preview-text">Cocktail Library</a>
          </div>
        </div>
        <p>A single user journey to for booking a venue for an event.</p>
         <div class="project-preview venuez">
          <div class="overlay">
            <a href="https://my-venues.herokuapp.com/" target="_blank" class= "preview-text">Venuez</a>
          </div>
        </div>


      <p>A single user journey to search, filter, book and process payment at the nearest brunch venue in their chosen area</p>
      <div class="project-preview brunchee">
        <div class="overlay">
          <a href="http://brunchee.rocks/" target="_blank" class= "preview-text">Brunchee</a>
        </div>
      </div> -->

    </div>
  </div>






  <div id="myModal03" class="modal">
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close03" onclick="closePopup03()">&times;</span>
<!--       <p style="padding-top: 50px;">Azure Designs: retail luggage company founded since 1978. I worked as their designer and photographer using WordPress theme to build a catalogue site.</p>
      <div class="project-preview azuredesigns">
        <div class="overlay">
          <a href="http://www.azuredesigns.co.uk/" target="_blank" class= "preview-text">Azure Designs</a>
        </div>
      </div> -->

          <div id="carouselwithIndicators" class="carousel slide w-100" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="http://www.azuredesigns.co.uk/" target="_blank">
          <img class="d-block w-100" src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_1155/v1571096098/Azure_Designs_vj71x0.png" alt="First slide"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Azure Designs - website</h5>
          </div>
        </div>


      </div>
<!--       <a class="carousel-control-prev" href="#carouselwithIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
      <a class="carousel-control-next" href="#carouselwithIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a> -->
    </div>

    <div style="margin-top: 30px;">
      <h2>Azure Designs</h2><br>
      <p>Azure Designs: retail luggage company founded since 1978. I worked as their designer and photographer using WordPress theme to build a catalogue site.</p>
    </div>

    </div>
  </div>







  <div id="myModal04" class="modal" >
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close04" onclick="closePopup04()">&times;</span>
      <p style="padding-top: 50px;">Humanscale 2018 Argentina Roadshow</p>
      <p>Creating marketing assets to promote awareness of Humanscale's ethos – sustainable manfuncturing, in particular the "Smart Ocean" office chair made from recycled fishing nets.</p>
      <div style="margin-left:25px;margin-bottom: 20px;">
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594040463/sticker-template.pdf">Sea-animal Sticker</a>
      </div>
      <p>Design concept for clients to leave feedback on the sea-animal stickers to stick on the backdrop and to encourage social media posting.</p>
      <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1594088101/Argentina_Roadshow_backdrop_instruction.jpg" target="_blank">
      <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594088101/Argentina_Roadshow_backdrop_instruction.jpg" alt="Backdrop diagram">
      </a>
      <p style="font-weight: bold;margin-top:30px;margin-bottom:0;">Cocktail Menu & Tray card:</p>
      <div class="cocktail-cards">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594051370/craft-cocktails-print.jpg" alt="cocktail menu" style="">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594078894/craft-cocktails_tray_card.jpg" alt="cocktail tray card" style="width: 85%;margin-left: 30px;height: 100%;margin-top: 45px;">
      </div>
    </div>
  </div>

  <div id="myModal05" class="modal">
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close05" onclick="closePopup05()">&times;</span>
      <a href="https://www.jocelynburton.com/?l=n" style="margin-left:20px; position: relative; top:45px;" target="_blank">Jocelyn Burton</a>

        <p style="padding-top: 50px;">Working as a designer with Jocelyn Burton to have a series of Chinese animal zodiac goblet designs to be casted in silver.</p>
      <div class="project-preview" style="width:100%;">
        <div class="paintings_collection">
          <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1570637460/Ox_Goblet02_oojxtj.jpg" alt="ox painting">
          <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571190736/ox_goblet.jpg" alt="ox goblet">
        </div>
        <p>Leaflet design for Jocelyn Burton's jewellery collection at the Sunny Arts Gallery.</p>
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1571187084/JB_leaflet.png" target="_blank">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571187084/JB_leaflet.png" style="padding:10px;" alt="leaflet">
        </a>
        <p style="margin-bottom: 40px;">Photographing and retouching Burton's jewellery collection.</p>
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_735/v1571186696/Gold_bat_necklace_amerthyst_apqf1z.jpg" alt="bat necklace">
      </div>
    </div>
  </div>

  <div id="myModal06" class="modal">
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close06" onclick="closePopup06()">&times;</span>
      <p style="padding-top: 50px;">Azure Designs: retail luggage company founded since 1978. I worked as their designer and photographer using WordPress theme to build a catalogue site.</p>
      <div class="azure-designs">
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186457/eco-lite_luggage.png" target="">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186457/eco-lite_luggage.png" alt="luggage">
        </a>
        <p>CAD artwork for lightweight a luggage series.</p>
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186450/sirocco_logo.png" target="_blank">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571186450/sirocco_logo.png" alt="logo">
        </a>
        <p>Metal logo designs for a hardcase luggage.</p>
        <a href="https://res.cloudinary.com/di2gop0lp/image/upload/v1571194490/azure_brochure.png" target="_blank">
        <img src="https://res.cloudinary.com/di2gop0lp/image/upload/v1571194490/azure_brochure.png" alt="brochure">
        </a>
        <p>Brochure artwork</p>
      </div>
    </div>
  </div>








  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


