<div class="experiment_container" style="background-color: black; width: 100vw;height:100vh;">
  <div class="experiment_cards">
    <a href="https://codesandbox.io/embed/map-search-xgwte?fontsize=14&hidenavigation=1&theme=dark" target="_blank" class="experiment_card">
      <div class="experiment_card_title">
        Geocoder
      </div>
    </a>
    <a href="https://codesandbox.io/embed/weather-app-2t8f9?fontsize=14&hidenavigation=1&theme=dark" target="_blank" class="experiment_card">
      <div class="experiment_card_title">
        Weather Forecaster
      </div>
    </a>
  </div>
</div>

