
<div class="experiment_container" style="background-color: black; width: 100vw;">
  <div class="experiment_cards">
    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_865/v1574449064/Geocoder_app_ktwvcc.png">
        <div class="content-details fadeIn-top">
          <h3>Geocoder</h3>
          <p>html/css/javascript</p><br>
          <a href="https://codesandbox.io/embed/map-search-xgwte?fontsize=14&hidenavigation=1&theme=dark" target="_blank"class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>

    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_866/v1574449074/weather_app_skcrmq.png">
        <div class="content-details fadeIn-top">
          <h3>Weather App</h3>
          <p>html/css/javascript</p><br>
          <a href="https://codesandbox.io/embed/map-search-xgwte?fontsize=14&hidenavigation=1&theme=dark" target="_blank" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>

    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1594849481/form-validation.png">
        <div class="content-details fadeIn-top">
          <h3>Form Validation</h3>
          <p>html/css/javascript</p><br>
          <a href="https://codesandbox.io/embed/map-search-xgwte?fontsize=14&hidenavigation=1&theme=dark" target="_blank" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>

    <div class="content">
  <!--     <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1596142501/promo_email01_small.png">
        <div class="content-details fadeIn-top">
          <h3>HTML Email</h3>
          <p>html/css</p><br>
          <a id="myBtn07" onclick="popup07()" class="popup-btn">VIEW</a>
        </div>
      </a>
    </div>


<!--
    <a  id="myBtn04" onclick="popup01()" class="experiment_card">
      <div class="experiment_card_title">
        HTML Emails
      </div>
    </a> -->







  </div>
</div>




 <div id="myModal07" class="modal" >
    <!-- Modal content -->
    <div class="modal_content" style="height: fit-content;">
      <span class="close07" onclick="closePopup07()">&times;</span>

<!--        <p>Taking pre-existing HTML email designs and coding from scratch.</p>
        <div>
          <ul style="list-style: inherit; display: inherit;">
            <li>Promotional emails</li>
            <li>Newsletter</li>
            <li>Transactional emails</li>
          </ul>
        </div>

        <div class="project-preview email_img01">
          <div class="overlay">
            <a href="https://codesandbox.io/s/htmlemail-1fmgn?file=/index.html" target="_blank" class= "preview-text">Promo Email 01</a>
          </div>
        </div>
        <div class="project-preview email_img02">
          <div class="overlay">
            <a href="https://codesandbox.io/s/promo-email-y6s4d?file=/index.html" target="_blank" class= "preview-text">Promo Email 02</a>
          </div>
        </div>

        <br>
 -->



      <div id="window">
        <div id="slide-container">
          <div class="slides">
            <a href="https://codesandbox.io/s/htmlemail-1fmgn?file=/index.html" target="_blank">
            <img class="slide" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1596142501/promo_email01_small.png"></a>
          </div>

          <div class="slides">
            <a href="https://codesandbox.io/s/promo-email-y6s4d?file=/index.html" target="_blank">
            <img class="slide" src="https://res.cloudinary.com/di2gop0lp/image/upload/v1595458500/promo_email02_tjpxxl.png"></a>
          </div>


          <a id="previous" class="arrow">&#10094</a>
          <a id="next" class="arrow">&#10095</a>
          <div id="text-bar">
            <p id="title"></p>
          </div>
        </div>
        <div id="dotsContainer"></div>
      </div>

      <div style="margin-top: 20px;">
        <h2>HTML Emails</h2>
        <p>
          Taking pre-existing HTML email designs and coding from scratch.
        </p>
      </div>




    </div>
  </div>









































<
