<div class="experiment_container" style="background-color: black; width: 100vw;">
  <div class="experiment_cards">
    <a href="https://codesandbox.io/embed/map-search-xgwte?fontsize=14&hidenavigation=1&theme=dark" target="_blank" class="experiment_card">
      <div class="experiment_card_title">
        Geocoder
      </div>
    </a>
    <a href="https://codesandbox.io/embed/weather-app-2t8f9?fontsize=14&hidenavigation=1&theme=dark" target="_blank" class="experiment_card">
      <div class="experiment_card_title">
        Weather Forecaster
      </div>
    </a>
    <a href="https://codesandbox.io/s/signup-form-p2em5?file=/src/styles.css" target="_blank" class="experiment_card">
      <div class="experiment_card_title">
        Form Validation
      </div>
    </a>
    <a  id="myBtn04" onclick="popup01()" class="experiment_card">
      <div class="experiment_card_title">
        HTML Emails
      </div>
    </a>

  </div>
</div>





 <div id="myModal01" class="modal" >
    <!-- Modal content -->
    <div class="modal_content">
      <span class="close01" onclick="closePopup01()">&times;</span>

       <p>Taking pre-existing HTML email designs and coding from scratch.</p>
        <div style="margin-top: 65px;">
          <p>Promotional emails:</p>
        </div>

        <div class="project-preview email_img01">
          <div class="overlay">
            <a href="https://codesandbox.io/s/htmlemail-1fmgn" target="_blank" class= "preview-text">Promo Email 01</a>
          </div>
        </div>
        <div class="project-preview email_img02">
          <div class="overlay">
            <a href="https://codesandbox.io/s/promo-email-y6s4d?file=/index.html:19683-19763" target="_blank" class= "preview-text">Promo Email 02</a>
          </div>
        </div>

        <br>

<!--         <div style="margin-top: 65px;width: 100%;">
          <p>Newsletter emails:</p>
        </div>
        <div class="project-preview email_img01">
          <div class="overlay">
            <a href="https://codesandbox.io/s/htmlemail-1fmgn" target="_blank" class= "preview-text">Promo Email 01</a>
          </div>
        </div>
        <div class="project-preview email_img02">
          <div class="overlay">
            <a href="https://codesandbox.io/s/promo-email-y6s4d?file=/index.html:19683-19763" target="_blank" class= "preview-text">Promo Email 02</a>
          </div>
        </div>
        <div style="margin-top: 65px;">
          <p>Transaction email:</p>
        </div>
          <div class="project-preview email_img01">
            <div class="overlay">
              <a href="https://codesandbox.io/s/htmlemail-1fmgn" target="_blank" class= "preview-text">Promo Email 01</a>
            </div>
          </div>
          <div class="project-preview email_img02">
            <div class="overlay">
              <a href="https://codesandbox.io/s/promo-email-y6s4d?file=/index.html:19683-19763" target="_blank" class= "preview-text">Promo Email 02</a>
            </div>
          </div> -->
    </div>
  </div>
