#about {
  font-family: "Courier";
  height:100vh;
}

@media (max-width: 540px) {
  #about {
    display: block;
    margin: 0 auto;
    width: 328px;
  }
}

.about-text {
  color: #40677c;
  text-align: center;
  p {
    width: 500px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
  }
}
@media (max-width: 540px) {
  .about-text p {
    width: 312px;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  // padding: 20px;
}

.skills {
  padding: 10px;
  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
  li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    }
  }
}

// .skills li {
//     display: inline-block;
//     margin: 7px;
//     padding: 5px 10px;
//     border-radius: 2px;
//     color: #374054;
//     background: #e4e4ea;
//     list-style: none;
//     cursor: default;
//     font-size: 1.2em;
// }


.list-inline {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

