.hero-banner {
  text-align: center;
  justify-content: center;
  color:white;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://res.cloudinary.com/di2gop0lp/image/upload/v1569584783/blur-code_qje9j7");
    background-size: cover;
    height: 94vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
