.hero-banner {
  text-align: center;
  justify-content: center;
  color:white;
}

  // h1 {
  // // position: relative;
  // padding-top:500px;
  // color: white;
  // font-size: 40px;
  // }
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/blur-code.jpg");
  // background-color: pink;
  // background-image: url("/images/blur-code.jpg");
    background-size: cover;
    height: 94vh;
    width:100vw;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
