#button {
  background-color: #75cac3;
  padding: 10px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.CV_download {
  border: 1px solid white;
  border-radius: 4px;
  padding:16px;
  text-decoration: none;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

.social-media {
  color:#374054;
  font-size: 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
