#button {
  background-color: #75cac3;
  padding: 10px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.CV_download {
  border: 1px solid white;
  border-radius: 4px;
  padding:16px;
  text-decoration: none;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

.social-media {
  color:#374054;
  font-size: 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}


.close01,
.close02,
.close03,
.close04,
.close05 {
  cursor: pointer;
  color:#000;
  font-size:25px;
  font-weight: bold;
  border-radius: 10%;
  position:fixed;
}

.close01:hover,
.close02:hover,
.close03:hover,
.close04:hover,
.close05:hover
  {
    opacity:0.7;
  }
