#button {
  background-color: #75cac3;
  padding: 10px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}


.social-media {
  color:#374054;
}

.CV_download {
  border: 1px solid white;
  border-radius: 4px;
  padding:16px;
  text-decoration: none;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

