body {
  margin:0;
}
  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #e8e8e8;
    padding: 30px;
    margin-top: 20px;
  }

  .container {
    padding: 10px;
    width: 600px;
    margin: auto;
    min-height: 100vh;
  }

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.project-cards {
  // position: relative;
  // top: 0;
  // left: 0;
  // z-index:-1;
  // width: 100%;
}
.cards-overlay {
  // position: absolute;
  // top: 0;
  // left: 0;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  width: 100%;
  height: 100vh;
  z-index:1;
}

.project-cards .project-card:nth-child(1) {
    // background:
    // linear-gradient(
    //   rgba(0, 0, 0, 0.8),
    //   rgba(0, 0, 0, 0.8)
    // ),
    // url("https://res.cloudinary.com/di2gop0lp/image/upload/v1570578263/cocktail_library_hautgj.png");
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_834/v1570578263/cocktail_library_hautgj.png");
    background-size: cover;
}

.project-cards .project-card:nth-child(2) {
    // background:
    // linear-gradient(
    //   rgba(0, 0, 0, 0.8),
    //   rgba(0, 0, 0, 0.8)
    // ),
    // url("https://res.cloudinary.com/di2gop0lp/image/upload/v1570637460/Ox_Goblet02_oojxtj.jpg");
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://res.cloudinary.com/di2gop0lp/image/upload/v1571190736/ox_goblet_cq8m0b.jpg");
    background-size: cover;
    background-position: -40px 58% ;
}

.project-cards .project-card:nth-child(3) {
    // background:
    // linear-gradient(
    //   rgba(0, 0, 0, 0.8),
    //   rgba(0, 0, 0, 0.8)
    // ),
    // url("https://res.cloudinary.com/di2gop0lp/image/upload/v1571194128/azuredesign_cgmf2c.png");
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_832/v1570578264/brunchee_uetggw.png");
    background-size: cover;
    background-position: bottom 20% right 60%;

}

.project-card {
height: 33vh;
width: 100vw;
text-align: center;
font-size: 50px;
justify-content: center;
z-index: 0;
}

.project-card:hover {
  background: #356f89;
  opacity: 0.9;
  transition: all 0.3s ease .7s;
  transform: scale(1.1);

}

.project-title {
  font-family: monospace;
  color: #fff;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  a {
  text-decoration: none;
  cursor: pointer;
  }
  :hover {
    color: #ffffff;
    opacity:0.7;
  }
}

.project-preview {
  width: 90%;
  height: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1068px) and (min-width: 576px) {
  .project-preview {
    height: 230px;
  }
}

@media (max-width: 576px) {
  .project-preview {
    height: 200px;
  }
}

.project-preview:hover .overlay {
  opacity: 1;
}

