body {
  margin:0;
  font-family:"Courier";
  // height:100%;
  // background-color: #F5F5F5!important;
  background-color:#000!important;
}


//PROJECT PAGE//
@media (max-width: 720px) {
  .web-cards {
    display:block!important;
    justify-content: center;
    color: #fff;
  }
  h1.web-cards {
      padding-top: 100px!important;
  }
}
.web-cards{
  display:grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  padding: 30px 20px 10px 20px;
  width: 100%;
  margin: auto;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .web-cards h1{
    margin-top:20px;
  }
}

@media (max-width: 720px) {
  .graphic-cards {
    display:block!important;
    justify-content: center;
  }
}
.graphic-cards{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content:center;
  width:100%;
  margin:auto;
  color:#fff;
  padding-top: 30px;

}

  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #e8e8e8;
    padding: 30px;
    margin-top: 20px;
  }
.project-container{
  // background: #000;
  min-height:100vh;
  padding-bottom: 20px;
  padding-top:25px;
}

@media (max-width: 480px) {
  .project-container{
    padding-top: 100px!important;
  }
}
@media (min-width: 481px) and (max-width: 720px) {
   .project-container{
    padding-top: 110px!important;
  }
}
  .container {
    width: 600px;
    margin: auto;
    min-height: 100vh;
  }

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    min-height:100vh;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}



@media only screen and (max-width:720px){
  .project-cards {
    display:block;
  }
  .project-card{
    height:18vh;
  }
}

.cards-overlay {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  width: 100%;
  height: 100vh;
  z-index:1;
}




.project-card {
  height: 33vh;
  // width: 450px;
  width: 80%;
  // margin:10px;
  margin-bottom:20px;
  margin-top:10px;
  margin-right: auto;
  margin-left:auto;
  text-align: center;
  font-size: 50px;
  justify-content: center;
  z-index: 0;
}

.project-card:hover {
  // background: #356f89;
  opacity: 0.9;
  transition: all 0.3s ease .7s;
  transform: scale(1.05);
  // margin-bottom:10px;

}
@media (max-width: 576px) {
  .project-card {
    height: 33vh;
    width: 90%;
    margin-bottom:0px;
    margin-top:10px;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
    font-size: 50px;
    border-radius: 20px;
    justify-content: center;
    z-index: 0;
  }
}

.project-title {
  color: #fff;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  text-shadow: 2px 4px 2px #b7babb;
  a {
  position:relative;
  text-decoration: none;
  cursor: pointer;
  }
  :hover {
    color: #ffffff;
    opacity:0.7;
  }
}

.project-preview {
  width: 90%;
  height: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1068px) and (min-width: 576px) {
  .project-preview {
    height: 230px;
  }
}

@media (max-width: 576px) {
  .project-preview {
    height: 200px;
  }
}

.project-preview:hover .overlay {
  opacity: 1;
}

.cocktail-cards{
  display:flex;
  width:50%;
}
@media (max-width: 576px) {
  .cocktail-cards {
    display:block;
    width:100%;
  }
}

.saved-jobs{
  display:flex;
}

//PROJECT PAGE//


//EXPERIMENTS PAGE//


@media (min-width: 720px) {
  .experiment_container {
    height: 100vh;
  }

  .experiment_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding-top:40px;
    height: auto;
    width: 80%;
    margin: auto;
  }
}



@media (max-width: 720px) {
  .experiment_cards {
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top:80px;
    margin-top:40px;
  }
  a.experiment_card {
    width:80vw!important;
  }
}





@media (max-width: 720px) {
  .content{
    width:100%;
  }
}

.content {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height:250px;
  object-fit: cover;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  padding-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.fadeIn-top{
  top: 20%;
}

.popup-btn {
  padding: 10px 20px 10px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff!important;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #000!important;
    background: #fff;
    text-decoration: none;
  }
}

//EXPERIMENTS PAGE//
