  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #e8e8e8;
    padding: 30px;
    margin-top: 20px;
  }

  .container {
    padding: 10px;
    width: 600px;
    margin: auto;
    min-height: 100vh;
  }

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.project-card {
height: 33vh;
width: 100vw;
background-color: pink;
text-align: center;
font-size: 50px;
justify-content: center;
}

.project-card:hover {
background: #f6b93b;
border-color: #f6b93b !important;
transition: all 0.4s ease 0s;
}

.project-title {
  color: #3D3830;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  a {
  text-decoration: none;
  cursor: pointer;
  }
  :hover {
    color: #ffffff;
  }
}

