.nav-list {
    height:30px;
  }
.nav-list {
  a {
  font-family: "Courier";
  font-size: 16px;
  text-decoration: none;
  color: #5588a3;
  }

  a:hover {
  opacity: 0.6;
  cursor: pointer;
  }
}
@media (max-width: 576px) {
  .nav-list li {
    display: none;
  }
}

.arrows-up {
      transform: translate(50%,50%);
      position: relative;
      width: 20px;
      height: 20px;
      border-bottom: 5px solid #5588a3;
      border-right: 5px solid #5588a3;
      transform: rotate(225deg);
      display: block;
      margin: 30px auto;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.arrows-down {
    position: relative;
    top: 18%;
    transform: translate(-50%,-50%);
    cursor: pointer;
  & span {
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid #5588a3;
      border-right: 5px solid #5588a3;
      transform: rotate(45deg);
      margin: -10px;
      cursor: pointer;
  }
      & span:nth-child(2){
          opacity: 0;
          cursor: pointer;
  }
      & span:nth-child(3){
          opacity: 0;
          cursor: pointer;
  }
}

.arrows-down:hover  {
    position: relative;
    top: 18%;
    transform: translate(-50%,-50%);
    cursor: pointer;

&:hover span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #5588a3;
    border-right: 5px solid #5588a3;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    cursor: pointer;
}
&:hover span:nth-child(2){
    opacity: 1;
    animation-delay: -0.2s;
     cursor: pointer;
}
&:hover span:nth-child(3){
   opacity: 1;
    animation-delay: -0.4s;
     cursor: pointer;
}
  @keyframes animate {
    0%{
        opacity: 0;
        cursor: pointer;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
        cursor: pointer;
    }
    100%{
        opacity: 0;
        cursor: pointer;
        transform: rotate(45deg) translate(20px,20px);
    }
  }
}

