
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  // width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_content {
  font-family: "Courier";
  background-color: #fefefe;
  color: #3D3830;
  margin: auto;
  padding: 10px 15px;
  padding-bottom: 25px;
  border: 1px solid #888;
  width: 90%;
  height:80vh;
  border-radius:5px;
  overflow: scroll;
  //   &:before{
  //   background-image: url(https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=897&q=80);
  //   opacity: 0.85;
  //   z-index: -1;
  //   content:"";
  //   position:absolute;
  //   width:100%;
  //   height:100%;
  //   left:0;
  //   top:0;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
  & img{
    width: 95%;
    margin-left:15px;
  }
  & p{
    margin-left:30px;
  }
  & p:nth-child(2) {
    margin-top:40px;
  }
  & p:nth-child(4) {
    margin-top:40px;
  }
  a {
    font-weight: 600;
    color: #5588a3;
    line-height: 30px;
    font-size: 25px;
    // margin-left:30px;
    text-decoration:underline;
    &:hover {
    color: #5588a3;
    // opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
    }
  }
}

@media (max-width: 576px)  {
  .modal_content a {
    margin-left:0;
  }
}


.email_img01{
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/v1595295655/promo_email01.png");
  background-size: 130%;
  // background-position: center;
  background-position: bottom 75% right 50%;
  height: 35%;
  width: 35%;
  float:left;
  margin-left:30px;
}
.email_img02{
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/v1595458500/promo_email02_tjpxxl.png");
  background-size: cover;
  background-position: center;
  height: 35%;
  width: 35%;
  float:left;
  margin-left:30px;
}


.cocktail_library {
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_834/v1570578263/cocktail_library_hautgj.png");
  background-size: cover;
  background-position: center;
}

.venuez {
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_827/v1570578258/my_venuez_dvdakr.png");
  background-size: cover;
  background-position: center;
}

.brunchee {
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_832/v1570578264/brunchee_uetggw.png");
  background-size: cover;
  background-position: center;
}

.azuredesigns {
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/c_scale,w_1155/v1571096098/Azure_Designs_vj71x0.png");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  a {
    color: white;
  &:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.6;
    }
  }
}

.preview-text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.paintings_collection {
  display: inline-block;
  img {
    width: 500px;
  }
}

.paintings_collection img:nth-child(2) {
    width: 402px;
  }


@media (max-width: 1068px) and (min-width: 576px) {
    .paintings_collection img {
    width: 400px;
  }
}
@media (max-width: 1068px) and (min-width: 576px) {
    .paintings_collection img:nth-child(2)  {
    width: 322px;
  }
}
@media (max-width: 576px)  {
  .paintings_collection img {
    width: 350px;
  }
}

@media (max-width: 576px)  {
  .paintings_collection img:nth-child(2) {
    width: 350px;
  }
}

.azure-designs {
  display: block;
  text-align: center;
  img {
    padding: 30px;
    width: 100%;
  }
  p{
    margin-top:35px;
  }
}
.project-preview img:nth-child(3) {
    width: 960px;
  }
@media (max-width: 1068px) and (min-width: 576px) {
  .project-preview img:nth-child(3) {
    width: 730px;
    height: 530px;
  }
}

@media (max-width: 576px) {
  .project-preview img:nth-child(3) {
    width: 100%;
  }
}

.project-preview img:nth-child(5) {
    width: 800px;
  }

@media (max-width: 1068px) and (min-width: 576px) {
  .project-preview img:nth-child(5) {
    width: 660px;
  }
}

@media (max-width: 576px)  {
  .project-preview img:nth-child(5) {
    width: 100%;
  }
}


