/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  font-family: "Courier";
  background-color: #fefefe;
  color: #3D3830;
  margin: auto;
  padding: 25px;
  padding-bottom: 25px;
  border: 1px solid #888;
  width: 70vw;
  height:80vh;
  border-radius:5px;
  overflow: scroll;
  a {
    text-decoration: none;
    font-weight: 600;
    color: #5588a3;
    line-height: 30px;
  }
}

/* The Close Button */
// .close {
//   color: #aaaaaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
// }

.close01,
.close02,
.close03 {
  cursor: pointer;
  color:white;
  font-weight: bold;
  background-color:grey;
  border: 5px solid grey;
  border-radius: 10%;
}

.close01:hover,
.close02:hover,
.close03:hover
  {
    border: 5px solid #a0a0a0;
    background-color: #a0a0a0;
  }

.project-preview {
  width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.project-preview:hover .overlay {
  opacity: 1;
}

.cocktail_library {
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/v1570578263/cocktail_library_hautgj.png");
  background-size: cover;
  background-position: center;
}

.venuez {
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/v1570578258/my_venuez_dvdakr.png");
  background-size: cover;
  background-position: center;
}

.brunchee {
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/v1570578264/brunchee_uetggw.png");
  background-size: cover;
  background-position: center;
}

.azuredesigns {
  background-image: url("https://res.cloudinary.com/di2gop0lp/image/upload/v1571194128/azuredesign_cgmf2c.png");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  a {
    color: white;
  }
}

.preview-text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.paintings_collection {
  display: inline-block;
  img {
    height: 70vh;
  }

}

.azure-designs {
  display: block;
  text-align: center;
  img {
    padding: 30px;
    width: 55vw;
  }
}

